<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiQWL8a_cBgC03EbetlwhqduHspNG3Cjg</string>
	<key>GCM_SENDER_ID</key>
	<string>749818574509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ucuncubinyil.myapp</string>
	<key>PROJECT_ID</key>
	<string>uby01042023</string>
	<key>STORAGE_BUCKET</key>
	<string>uby01042023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749818574509:ios:6d9d29201cc49db0cfb824</string>
</dict>
</plist>